body {
    background-color: #BEEFFF;
}

.container {                    /* 전체 화면의 크기 마진 그리고 글자정렬 */
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.main { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}

.main #rec{
    background-color: rgb(18, 160, 243);
    width:120px;
    height:40px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
}

.line { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.line #btn{    /* 버튼 수직 정렬 */
    flex-direction: column;
    justify-content: center;
}


.line div button {              /* 버튼의 모양 */
    background-color: lightyellow;
    width:150px;
    height:40px;
    border-radius: 10px;
    
}

.line div h2 { /* h2 모양 speed */           
    background-color: lightyellow;
    width:150px;
    height:150px;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    border: 3px solid;
    
}

.line div label { /*label 모양 */
    color: black;              
    background-color: lightyellow;
    width:150px;
    height:80px;
    border-radius: 10px;

}


/*video 조정*/


#file{
    display: none;
}

#video{
    width: 1000px;
    height: 500px;
}